---
// component imports
import MainBlogLayout from "../../layouts/MainBlogLayout.astro";
---

<MainBlogLayout title="Blog">
  <main>
    <section class="padding-block-900">
      <div class="container">
        <div>
          <h1>Blog</h1>
        </div>
        <div>
          <span class="subtext">6 Aug, 2023 - 3 blogs</span>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="even-proj-column">
          <div class="blog-main-head-cont">
            <h1 class="blog-main-head-first">Programming</h1>
            <a class="subtext | blog-subtext" href="./ProgrammingBlog/"
              >SEE ALL <span class="blog-arrow">&#x2197;</span></a
            >
          </div>
          <div>
            <span class="blog-main-page-title">Coming soon</span>
            <p style="margin-bottom: 0.4em">
              Coming soon....Coming soon....Coming soon....Coming soon....Coming
              soon....
            </p>
            <span class="subtext | blog-subtext"
              >READ BLOG <span class="blog-arrow">&#x2197;</span></span
            >
          </div>
        </div>
      </div>
    </section>

    <section class="padding-block-900">
      <div class="container">
        <hr />
        <div class="even-proj-column">
          <div class="blog-main-head-cont">
            <h1 class="blog-main-head-second">Other Stuff</h1>
            <a class="subtext | blog-subtext" href="./OtherStuff/"
              >SEE ALL
              <span class="blog-arrow">&#x2197;</span>
            </a>
          </div>
          <div>
            <span>Title</span>
            <p style="margin-bottom: 0.4em">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo,
              tempora cum explicabo pariatur sequi laborum, magni nulla quasi
              libero adipisci deleniti culpa incidunt corporis aliquam odio
              soluta veniam dolore quis?
            </p>
            <span class="subtext | blog-subtext"
              >READ BLOG
              <span class="blog-arrow">&#x2197;</span>
            </span>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainBlogLayout>
