---
// component imports
import BlogCategoryLayout from "../../layouts/BlogCategoryLayout.astro";
---

<BlogCategoryLayout title="Other Stuff">
  <main>
    <section class="padding-block-900">
      <div class="container">
        <div>
          <h1>All of my blogs</h1>
        </div>
        <div>
          <span class="subtext">6 Aug, 2023 - 3 blogs</span>
        </div>
      </div>
    </section>
    <section class="">
      <div class="container">
        <hr />
        <div class="even-proj-column">
          <div class="blog-dot">
            <ul>
                <li>
                    <a href="/post-1/">Post 1</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</BlogCategoryLayout>
