---

---

<header class="primary-header">
  <div class="container">
    <div class="nav-wrapper">
      <nav>
        <span
          >Documented train of thought + <br />
           some programming</span
        >
        <button class="nav-button">
          <a href="/" class="portfolio-nav-button">Portfolio</a>
        </button>
      </nav>
    </div>
  </div>
</header>
