---

---

<header class="primary-header">
  <div class="container">
    <div class="nav-wrapper">
      <nav>
        <div>
          <h1 class="main-text">Rohan Awal</h1>
          <h3 class="subtext">Software developer</h3>
        </div>

        <div class="nav-blog">
          <!-- <img
            class="arrow"
            src="right-arrow.svg"
            alt="arrow pointing to the right"
          /> -->
          <button class="nav-button">
            <a href="/blog/" class="blog-nav-button">Blog</a>
          </button>
        </div>
      </nav>
    </div>
  </div>
</header>
